# Where Elasticsearch, Kibana, and Fleet Server will be reachable from.
HOSTNAME=debian

BUILD_VERSION=9.4.3

ELASTIC_PASSWORD=ChangeMe123
KIBANA_SYSTEM_PASSWORD=NoSeriouslyChangeMe123
XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=GenerateRandom32characterStringsIfYouHaveTo
XPACK_REPORTING_ENCRYPTIONKEY=NeverUseDefaultPasswordsOrCredentialsEvenInTestingEnvironments!!!11
XPACK_SECURITY_ENCRYPTIONKEY=ImNotLiableIfYouGetHackedCauseYouDidntChangeThese123
